body {
	background-color: #81A7E8;
}

h1	{
	color: #88FF39;
	font-family: "Arial", sans-serif;
	font-size: 50px;
	text-transform: uppercase;
	text-decoration: underline;
}

h2 {
	color: #88ff39;
	font-family: "Arial", sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	text-decoration: underline;
}

p {
	color: #88FF39;
	font-family: "Courier New", monospace;
	font-size: 40px;
}

#first {
	font-size: 80px;
}

#smalltype {
	font-size: 28px;
}

#smallesttype {
	font-size: 22px;
}

#name {
	background: black;
}

#hex {
	background: #000000;
}

#rgb {
	background: rgba(0,0,0,0.5);
}

div {
	width: 150px;
	height: 150px;
	border: 2px solid black;
	display: inline-block;
	margin: 20px;
}