@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Quattrocento+Sans|Playfair+Display');

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: black;
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.75em;
	margin: 30px;
}

nav {
	background-color: #aaa;
	font-family: Arial, sans-serif;
}

a {
	margin: 0px;
	background-color: #ff7900;
	color: white;
	text-decoration: none;
}

*/
a:hover {
	background-color: #aaa;
	*/
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix:home-1 {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

img {
	width: 600px;
}

h1 {
	color: rgb(0, 0, 0);
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	font-size: 35px;
}

h2 {
	font-family: 'Playfair Display', serif;
	color: black;
	font-size: 80px;
	font-weight: normal;
}

h3 {
	font-family: 'Archivo Black', sans-serif;
	color: black;
	font-size: 20px;
	font-weight: normal;
}

#smallcaps {
	font-family: 'Quattrocento Sans', sans-serif;
	text-transform: uppercase;
	font-size: 18px;
}
#splash {
	background:url(../images/rs-brochure.jpg);
	background-size: cover;
	padding: 10em 0 0;
	height: 85vh;
}

#about {
	margin: 20px;
}

#two_column {
    background-color: white;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: white;
    border: 0 black solid;
    padding: 20px;
    height: 400px;
    float: left;
    width: 49%;
}

#right {
    background-color: white;
    border: 0 black solid;
    padding: 20px;
    height: 400px;
    float: right;   
    width: 49%;
}