body {
	color: #666;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5em;
}

a {
	text-decoration: none;
	background-color: blue;
	color: #666;
	padding-left: .25em;
}

img {
	width: 960px;
}

nav {
	width: 50%;
	float: left;
}

h4 {
	background-color: red;
	padding: 10px;
}

h1 {
	background-color: yellow;
	display: block;
	width: 50%;
	float: left;
}

p {
	background-color: orange;
}

h2 {
	color: white;
	background-color: green;
}

h3 {
	background-color: green;
}

header {
	display: block;
}

#title {
	width: 50%;
	float: left;
}

#wrapper {
	background-color: red;
	width: 960px;
	margin: 0 auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}