@import url('https://fonts.googleapis.com/css?family=Chivo:900i|Quattrocento+Sans|Playfair+Display|Anonymous+Pro');

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: white;
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.75em;
	margin: 2%;
}

nav {
	font-family: 'Anonymous Pro+bold', monospace;	
	text-align: right;
	font-size: 1.5em;
	text-transform: uppercase;
	color: black;
	display: block;
	float: right;
}

a {
	color: black;
	text-decoration: none;
}

img {
	width: 50%;
	float: left;
}

p { 
	color: black;
	font-family: 'Anonymous Pro', monospace;

}

h1 {
	color: #75c8aa;
	font-family: 'Chivo', sans-serif;
	text-transform: uppercase;
	font-size: 4em;
	line-height: 1.125em;
	margin: .5em;
}

h2 {
	font-family: 'Archivo Black', sans-serif;
	color: black;
	font-size: 2em;
	font-weight: normal;
	padding: 1em;
}

h3 {
	font-family: 'Chivo', sans-serif;
	color: black;
	font-size: 1em 0 0;
	font-weight: normal;
	text-align: center;
}

h4 {
	color: black;
	font-family: 'Anonymous Pro+bold', monospace;
	text-transform: uppercase;
	font-size: 1.75em;
	float: left;
	padding-right: 1em;
}

footer {
	background-color: black;
}

.navlink {
	padding-right: 1em;
}

.full {
	width: 100%;
	padding: 0 0 1.25em 0;
}

.halfleft {
	width: 50%;
	padding: 0 0.625em 1.25em 0;
}

.halfright {
	width: 50%;
	padding: 0 0 1.25em 0.625em;
}

.twothirdsleft {
	width: 68.25%;
	padding: 0 1.25em 0 0;
}

.onethirdtopright {
	width: 31.75%;
	padding: 0 0 1.25em 0;
}

.onethirdbottomright {
	width: 31.75%;
	padding: 0 0 1.25em 0;
}

#splash {
	background-size: cover;
	background-color: black;
	padding: 1em 0 0;
	height: 78vh;
	margin-top: 1.5%; 
}

#about {
	margin: 1em 5em;
	color: white;
	padding: 1em;
	text-align: center;
}

.row:after {
  content: " ";
  clear: both;
  display: block;
}

#two-column {
    background-color: white;
    border: 0 black solid;
    padding: 0px;
}

#left {
    border: 0 black solid;
    padding: 0px;
    float: left;
    width: 49%;
}

#right {
    border: 0 black solid;
    padding: 0px;
    float: right;   
    width: 49%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 943px) {
	nav {
		float: none;
		text-align: center;
	}
	p {
		font-size: 18px;
		line-height: 1.75em;
	}
}


@media only screen and (max-width: 500px) {
	a {
		display: block;
		text-align: center;
	}
	img {
		float: none;
		width: 100%
		padding: 0 0 0.125em;
	}
	h1 {
		font-size: 3em;
		line-height: 1.125em;
		margin: 1.5em;
	}
	nav {
		float:none;
		text-align: center;
		margin: 0 0 1em 0;
	}
	h4 {
		display: block;
		text-align: center;
	}
	p {
		font-size: 16px;
		line-height: 1.75em;
	}
	#about {
	margin: 1em 2em;
	padding: 1em;
	}
	h3 {
	font-size: 0.825em;
	line-height: 1.75em;
	}
}



