@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Quattrocento+Sans|Playfair+Display');

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: black;
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.75em;
	margin: 2%;
}

nav {
	font-family: Arial, sans-serif;
	text-align: right;
	display: block;
	float: right;
}

a {
	margin-left: 1.5em;
	color: white;
	text-decoration: none;
}

img {
	width: 100%;
	padding: 0 0 3% 0;
}

h1 {
	color: rgb(0, 0, 0);
	font-family: 'Playfair Display', sans-serif;
	text-transform: uppercase;
	font-size: 4em;
	line-height: 1.125em;
	margin: .5em;
}

p { 
	color: white;
}

h2 {
	font-family: 'Archivo Black', sans-serif;
	color: black;
	font-size: 2em;
	font-weight: normal;
	padding: 1em;
}

h3 {
	font-family: 'Archivo Black', sans-serif;
	color: white;
	font-size: 1em 0 0;
	font-weight: normal;
	text-align: center;
}

h4 {
	color: white;
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	font-size: 1.75em;
	float: left;
	padding-right: 100px;
}

#splash {
	background-size: cover;
	background-color: #fff;
	padding: 1em 0 0;
	height: 90vh;
}

#about {
	margin: 1em 5em;
	color: white;
	padding: 1em;
	text-align: center;
}

.row:after {
  content: " ";
  clear: both;
  display: block;
}

.column-half-left {
	width: 50%;
	float: left;
	padding: 0 1% 0 0;
}

.column-half-right {
	width: 50%;
	float: right;
	padding: 0 0 0 1%;
}

.column-twothirds-left {
	float: left;
	width: 66%;
	padding: 0 1% 0 0;
}

.column-onethird-right {
	float: right;
	width: 34%;
	padding: 0 0 0 1%;
}

.column-full {
	float: left;
	width: 100%;
}

#two_column {
    background-color: white;
    border: 0 black solid;
    padding: 0px;
}

#left {
    background-color: black;
    border: 0 black solid;
    padding: 0px;
    float: left;
    width: 49%;
}

#right {
    background-color: black;
    border: 0 black solid;
    padding: 0px;
    float: right;   
    width: 49%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width: 500px) {
	a {
		display: block;
		text-align: center;
	}
	img {
		display: block;
	}
	h1 {
	font-size: 3em;
	line-height: 1.125em;
	margin: 1.5em;
}
}



