@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Quattrocento+Sans|Playfair+Display');

* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-color: black;
	color: rgb(0, 0, 0);
	font-size: 20px;
	font-family: 'Quattrocento Sans', sans-serif;
	line-height: 1.75em;
	margin: 30px;
}

nav {
	font-family: Arial, sans-serif;
	text-align: right;
	display: block;
}

a {
	margin: 0px;
	color: white;
	text-decoration: none;
}

img {
	width: 100%;
}

h1 {
	color: rgb(0, 0, 0);
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	font-size: 80px;
	line-height: 90px;
	margin: 30px;
}

h2 {
	font-family: 'Playfair Display', serif;
	color: black;
	font-size: 80px;
	font-weight: normal;
}

h3 {
	font-family: 'Archivo Black', sans-serif;
	color: black;
	font-size: 20px;
	font-weight: normal;
}

h4 {
	color: white;
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	font-size: 35px;
}

#splash {
	background:url(../images/rs-brochure.jpg);
	background-size: cover;
	padding: 10em 0 0;
	height: 85vh;
}

#about {
	margin: 20px;
	color: white;
	padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
	width: 50%;
	float: left;
}

#two_column {
    background-color: white;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: white;
    border: 0 black solid;
    padding: 20px;
    height: 400px;
    float: left;
    width: 49%;
}

#right {
    background-color: white;
    border: 0 black solid;
    padding: 20px;
    height: 400px;
    float: right;   
    width: 49%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-wdith: 700px) {
	.column {
		float: none;
		width: auto;
	}
}